<div class='container pt-2'>
	<h2 class='py-2'>Info</h2>
	<div class='container bg-info bg-opacity-50'>
		<h4>Sistema operativo: {{info.SO}}</h4>
		<h4>Versión de node: {{info.Node}}</h4>
		<h4>RSS: {{info.RSS}}</h4>
		<h4>Path: {{info.Path}}</h4>
		<h4>Id: {{info.Id}}</h4>
		<h4>Folder: {{info.Folder}}</h4>
		<h4>Process: {{info.Process}}</h4>
	</div>
</div>